
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: rgb(181, 244, 223); */
    background: rgb(181, 244, 223) url(img/Minimal.jpg) no-repeat fixed center;
    background-size: cover;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header {
    background-color: #353333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    size: cover;


}


footer {
    background-color: #353333;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 800px;
    margin:Auto;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 35px;;
}